{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container_brand">
    <div class="home_div">
      <div class="col-md-3">
        <h1>{{ category.name }}</h1>
            {% for product in products %}
              <div class="card mb-3 shadow-sm">
                          {% if product.cover %}
                            <img src="{{ product.cover.url }}" class="card-img-top" alt="...">
                          {% else %}
                            <img src="{% static 'pictures/no-image.png' %}" class="card-img-top">
                          {% endif %}
                      
                      <p class="card-text"><a href="{% url 'product-detail' product.id %}">{{product.title}} </a></p>
                      <p>{{product.category}}</p>
                      <p>{{product.price}}</p>
              </div>
            {% endfor %}
                <br><br>
                <br><br>
                <br><br>
        </div>
      </div>
  </div>
     
{% endblock %}
